* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

html {
    background-color: #F5F7FB;
    font-family: 'Karla', sans-serif;
    background-image: url("./src/assets/blob-blue.png");
    /* url("./src/assets/blob-yellow.png"); */
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 20vh;
    min-height: 100%;
}

.App {
    background-image: url("./src/assets/blob-yellow.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    position: absolute;
    height: 100%;
    width: 100%;
}

.title {
    font-weight: 700;
    text-align: center;
    font-size: 10vh;
}

.start--screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start--screen > p {
    font-weight: 400;
    font-size: 3vh;
    margin-top: -3vh;
    margin-bottom: 10vh;
}

.start--button {
    background-color: #4D5B9E;
    color: #F5F7FB;
    border-radius: 15px;
    height: 9vh;
    width: 30vh;
    font-size: 3vh;
}

.start--button:active {
    transform: scale(0.98);   
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.question {
    border-bottom: 3px solid #DBDEF0 ;
    padding-bottom: 3vh;
    width: 100vh;
    height: 15vh;
    margin-bottom: 3vh;
}

.question--text {
    font-weight: 700;
    color: #293264;
    margin-top: 0px;
    margin-bottom: 3vh;
}

.answer--buttons {
    display: flex;
    align-content: flex-start;
    gap: 1vh
}

.answer--buttons > button {
    border: 0.8px solid #4D5B9E;
    border-radius: 8px;
    background-color: transparent;
    font-weight: 600;
    min-height: 3.5vh;
    min-width: 6vw;
    width: auto;
    height: auto;
    font-size: 1.75vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.answer--buttons > button:hover {
    background-color: #D6DBF5;
}

.check--button {
    background-color: #4D5B9E;
    border-radius: 10px;
    color:#F5F7FB;
    font-size: 3vh;
    height: 6vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin: 4vh;
}

.check--button:active {
    transform: scale(0.98);   
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.results {
    font-weight: 700;
    color: #293264;
    margin-top: 0px;
    font-size: 2em;
}
.play--again {

    background-color: #4D5B9E;
    border-radius: 10px;
    color:#F5F7FB;
    font-size: 3vh;
    height: 6vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin: 4vh;

}
